.headinggg{
        display: flex;
        margin-top: 40px;
        margin-left: -6px;
      }

      .genreTitle{
        font-size: 30px;
      }
      .dashh{
        margin-left: 30px;
        border-left: 3px solid #FFCE00;
        height: 35px;
      margin-top: 4px;
}