.headinggg{
    display: flex;
    margin-top: 40px;
    margin-left: -6px;
  }

  .genreTitle{
    font-size: 30px;
  }
  .dashh{
    margin-left: 30px;
    border-left: 3px solid #FFCE00;
    height: 35px;
  margin-top: 4px;
}

.contt{
    width: 20%;
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}
.posterrr{
    height: 40vh;
    width: 60%;
    margin: 35px auto auto auto;
}

.langWrapper{
margin-left: 5px;
    width: 97%;
}

.infoDetailss{
    display: flex;
    align-items: center;
    justify-content: space-between;
margin-bottom: 10px;
width: 94%;
cursor: pointer;

}

.Trailerr{
  margin-left: 8px;
  width: 44%;
  padding-top: 5px;
}


.Trailerr:hover{
  cursor: pointer;
  border-radius: 16px;
  background-color: rgb(32, 32, 32);
}
.movieTitlee{
  font-size: 17px;
}
.releasee{
  font-size: 13.5px;
  color: rgb(172, 172, 172);
}